*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: -apple-system, sans-serif;
}

:root{
     --bg-color:#f5e3e3;
     --snd-bg-color:#f5e3e3;
     --text-color:#eab5ce;
     --main-color:#e8dbcc;
}

html{
    font-size: 62.5%;
   
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}

section{
    min-height: 100vh;
    padding:10rem 8% 2rem;

}

header{
    position: fixed;
    width: 100%;
    top: 0%;
    right: 0%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 9%;
    background: #5f0c2f;
    backdrop-filter: blur(10px);
    transition: all 0,5s ease;

}
.logo{
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.logo:hover{
    transform: scale(1.1);
}
span{
    color: var(--main-color);
}
.navbar{
    display: flex;
}
.navbar a{
     font-size: 1.8rem;
     font-weight: 500;
     color: var(--text-color);
     margin-left: 4rem;
     transition: all 0.5s ease;
     border-bottom: 3px solid transparent;
}
.navbar a :hover{
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}
.nav-btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background:transparent;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    border-radius: 1rem;
    font-size: 1.6rem;
    font-weight: 600;
    transition: all 0.5 ease;
}
.nav-btn:hover{
    background: var(--main-color);
    color: var(--text-color);
    box-shadow: 0 0 18px var(--main-color);
}
#menu-icon{
    font-size: 3.6rem;
    color: var(--main-color);
    cursor: pointer;
    display: none;
}
.home{
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-content h3{
    font-size: 5rem;
    font-weight: 700;
    color: #5f0c2f;
}
.home-content span{
    font-size: 4rem;
    font-weight: 55O;
     color: #d682a5
}
p {
    color: #5f0c2f; 
    line-height: 1.6;
    padding: 3rem 1.8rem;
}
.span{
    color: #5f0c2f;

}
.home-content h1{
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
    color: #5f0c2f;
}

.home-img img{
   width: 45vw; 
}
.homee-img::before{
    content: 'FITNESS';
    position: absolute;
    top: 10%;
    left: 30%;
    transform: translateX(-50%);
    font-size: 20rem;
    font-weight: 400;
    line-height: 20rem;
    color:#5f0c2f;
    opacity: 0.1;
    z-index: -1;
}
.home-content{
    font-size: 1.6rem;
    margin-bottom: 2rem ;
    margin-top: 2rem;
}

.btn {
    background-color: #5c0a25; 
    color: rgb(233, 217, 217); 
    padding: 12px 25px;
    border: none;
    border-radius: 25px; 
    font-size: 2.0rem;
    cursor: pointer;
    transition: 0.3s; 
}

.btn:hover {
    background-color:  rgb(161, 146, 160); 
    transform: scale(1.05); 
}
.booking-wrapper{
    background-color: #f5e3e3;
    min-height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
   padding: 100px 20px 40px 20px;
}
.booking-card{
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 450px;

}
.booking-card h2{
    color: #5c0a25;
    margin-bottom: 5px;
}
.booking-card p{
    color: #000000;
    margin-bottom: 25px;
}
.input-box{
    margin-bottom: 15px;
    text-align: left;
}
.input-box label{
    display: block;
    color: #5c0a25;
    font-weight: bold;
    margin-bottom: 5px;
}
.input-box input,.input-box select{
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    outline: none;
}
.input-grpup{
    display: flex;
    gap: 10px;
}
.confirm-btn{
    width: 100%;
    background-color: #5c0a25;
    color: white;
    padding: 12px;
    border:none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer
    margin-top:10px;
    transition:0.3s;
}
.confirm-btn:hover{
    background-color: #de86a1;
}
.about-section{
    padding: 100px 10%;
    min-height: calc(100vh - 80px);
    background-color: #fce4ec;
    min-height: 100vh;
    padding: 100px 20px 40px 20px;

}
.about-container{
    display: flex;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}
.about-text{
    flex: 1;
    min-width: 300px;

}
.about-text h1{
    font-size: 3rem;
    color: #5c0a25;
    margin-bottom: 20px;

}
.about-text h1 span{
    color: #e787ba;
    text-decoration:underline;

}
.about-text p h3{
    color:#000000;
    line-height: 1.8;
    margin-bottom: 20px;
}
.benefits{
    margin-bottom: 30px;
}
.benefit-item{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
    color:#5c0a25;
    font-weight: bold;
}
.benefit-item i{
    font-size: 24px;
}
.benefit-item span{
    color:#000000 ;
}
.about-image{
    flex: 1;
    min-width: 300px;
}
.about-image img{
    width: 100%;
    border-radius: 20px;
    box-shadow: 20px 20px 0px #5c0a25 ;
}
.pricing-section{
    padding: 100px 5%;
    background-color:#fce4ec ;
    text-align: center;
    min-height: calc(100vh - 80px);
    padding: 100px 20px 40px 20px;
}
.pricing-title{
    color: #5c0a25;
    font-size: 2.5rem;
    margin-bottom: 10px;
}
.pricing-subtitle{
    color: #666;
    margin-bottom: 50px;
}
.pricing-container{
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
    align-items: center;
}
.pricing-card{
    background: white;
    padding: 40px 30px;
    border-radius: 20px;
    width: 300px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.05);
    position:relative;
    transition: 0.3s;
}
.pricing-card.featured{
    border: 2px solid #5c0a25;
    transform: scale(1.05);
    z-index: 1;
}
.badge{
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    background: #5c0a25;
    color: white;
    border-radius: 20px;
    font-size: 15px;
    font-weight: bold;
}
.price{
    font-size: 2.5rem;
    color: #5c0a25;
    font-weight: bold;
    margin: 20px 0;
}
.price span{
    font-size: 1rem;
    color: #888;
}
.pricing-card ul{
    list-style: none;
    padding: 0;
    margin-bottom: 30px;
    text-align: left;
}
.pricing-card ul li{
    margin-bottom: 12px;
    color: #555;
    display:flex;
    align-items: center;
    gap: 10px;
}
.pricing-card ul li i{
    color: #5c0a25;
    font-size: 18px;
}
.price-btn{
    display: block;
    padding: 12px;
    border: 1px solid #5c0a25;
    color: #5c0a25;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
    transition: 0.3s;
}
.featured-btn{
    background: #5c0a25;
    color: white;
}
.price-btn:hover{
    background: #5c0a25;
    color: white;
}
